.scard
    display: grid
    grid-template-columns: 1fr
    overflow: hidden
    //background-color: #ffffff
    border-radius: 2px
    //border: 1px solid #cccccc
    @apply transition-all duration-300
    background: linear-gradient(165.7deg, #ebd0a0 -113.68%, #3c3a38 89.84%)



    color: #ffffff
    grid-template-rows: 1fr auto
    user-select: none
    font-size: 15px
    position: relative
    &:before
        content: ''
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0
        background-image: url('/svg/uuundulate.svg')
        background-size: cover
        overflow: hidden

        background-repeat: no-repeat
        opacity: 0.2
    @media (screen(md))
        font-size: 17px
    &:hover
        @apply shadow-lg
        transform: translateY(-2px)
    &-priceblock
        padding: 20px
        display: grid
        gap: 20px
        grid-template-columns: 1fr
        align-items: center
        justify-content: center
        @media (screen(md))
            grid-template-columns: 1fr auto
    &-link
        text-decoration: none
        padding: 20px
        height: 100%
        color: inherit
        display: flex
        flex-direction: column

    &-title
        font-weight: 600
        font-size: 24px
        text-decoration: none

    &-price
        font-size: 28px
        font-weight: 600

    .button
        padding: 15px 40px